// ABEM
// A-B__E -M

$green: #002116;
$orange: #f28f76;
$white: #fff;
$yellow: #f7a300;

// === RESET ===

// See https://css-tricks.com/box-sizing/ - Universal Box Sizing with Inheritance
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
        "Helvetica Neue", Arial, sans-serif;
    list-style: none;
}

* * {
    font-size: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

// === END OF RESET ===

body {
    background: $orange;
}

.o-topBar {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.a-siteLogo {
    width: 90%;
    height: auto;
    justify-self: center;
    padding: 15px 20px 10px 0;
    border-right: 1px solid $white;
}

.a-infomation {
    width: 150px;
    font-size: 1.8rem;
    margin-left: 10px;
    color: $white;
    align-self: center;
    span {
        color: $green;
        font-weight: bold;
    }
}

.m-nav {
    grid-column-start: 5;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

@mixin moveUp($offset) {
    margin-top: $offset - ($offset * 2);
    margin-bottom: $offset / 2;
}

.o-slider {
    grid-column: 2 / span 3;
    z-index: -1;
    margin-top: -70px;
    &__text {
        display: block;
        width: 25%;
        margin: 0 auto;
        font-size: 5rem;
        color: $white;
        @include moveUp(33rem);
        text-align: center;
        line-height: 5.3rem;
    }
    img {
        width: 100%;
    }
}

.a-designText {
    display: block;
    color: white;
    grid-column: 1 / span 3;
    font-size: 3rem;
}

.o-sticker {
    background: $green;
    color: $orange;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding-top: 50px;

    &__stickerText {
        width: 100%;
        text-align: center;
        font-size: 2rem;
        span {
            color: $white;
        }
    }
}

.Event {
    background-image: url("../../assets/files/event-bg.png");
    max-width: 90vw;
    height: 760px;
    margin-bottom: 70px;
}

.Footer {
    background: $yellow;
    padding: 80px 200px;
}

h1 {
    font-size: 3rem;
    color: $green;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: $green;
}

h3 {
    font-size: 5rem;
    color: $white;
    font-weight: bold;
    letter-spacing: 0.2rem;
    span {
        display: block;
        width: 100%;
        line-height: 5rem;
    }
}
