// ABEM
// A-B__E -M

$green: #002116;
$orange: #f28f76;
$white: #fff;
$yellow: #f7a300;
$green: #00682d;

// === RESET ===

// See https://css-tricks.com/box-sizing/ - Universal Box Sizing with Inheritance
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
        "Helvetica Neue", Arial, sans-serif;
    list-style: none;
}

* * {
    font-size: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

// === END OF RESET ===

body {
    background: $orange;
}

.o-topBar {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.m-nav {
    grid-column: 5 / span 2;
    img {
        margin: 0.5rem 10px 0 0;
        padding-top: 0.5rem;
        &:hover {
            filter: brightness(0);
        }
    }
    li {
        display: inline-block;
        margin-right: 4px;
        padding: 5px 10px;
        font-size: 1.4rem;
        color: $white;
        font-weight: bold;
        &:hover,
        &--active {
            background: $green;
        }
    }
}

.a-siteLogo {
    width: 90%;
    height: auto;
    justify-self: center;
    padding: 15px 20px 10px 0;
    border-right: 1px solid $white;
}

.a-infomation {
    width: 150px;
    font-size: 1.8rem;
    margin-left: 10px;
    color: $white;
    align-self: center;
    span {
        color: $green;
        font-weight: bold;
    }
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

@mixin moveUp($offset) {
    margin-top: $offset - ($offset * 2);
    margin-bottom: $offset / 2;
}

.o-slider {
    grid-column: 2 / span 3;
    z-index: -1;
    margin-top: -70px;
    &__text {
        display: block;
        width: 25%;
        margin: 0 auto;
        font-size: 5rem;
        color: $white;
        @include moveUp(33rem);
        text-align: center;
        line-height: 5.3rem;
    }
    img {
        width: 100%;
    }
}

.a-designText {
    display: block;
    color: white;
    grid-column-end: span 5;
    font-size: 3rem;
    width: 100%;
    overflow: hidden;
    user-select: none;
}

.o-sticker {
    background: $green;
    color: $orange;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding-top: 50px;
    grid-column-start: 5;
    justify-self: start;
    margin: 15px 0 0 -60px;
    z-index: 100;

    &__stickerText {
        width: 100%;
        text-align: center;
        font-size: 2rem;
        span {
            color: $white;
        }
    }
}

.o-events {
    background-image: url("../../assets/files/event-bg.png");
    grid-row-start: 3;
    grid-column: 2 / span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 20px;
    gap: 15px;
    margin-bottom: 160px;
    &--goodStuff,
    &--wellness {
        grid-column-start: 2;
    }
    h1 {
        grid-column: 1 / span 3;
        text-align: center;
    }
    section {
        font-size: 1.4rem;
        text-align: center;
        h2 {
            font-size: 1.7rem;
        }
    }

    &::after {
        content: "";
        display: block;
        width: 269px;
        height: 192px;
        position: relative;
        top: 250px;
        left: -700px;
        background-image: url("../../assets/files/texture.png");
    }
}

.o-footer {
    background: $yellow;
    background-image: url("../../assets/files/footer.png");
    background-size: 300px;
    height: 500px;
    background-position-x: 55%;
    background-position-y: 100px;
    background-repeat: no-repeat;
    padding: 80px 200px;
    h3 {
        margin-left: 150px;
    }
}

////////////////////////////

h1 {
    font-size: 3rem;
    color: $green;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: $green;
}

h3 {
    font-size: 5rem;
    color: $white;
    font-weight: bold;
    letter-spacing: 0.2rem;
    span {
        display: block;
        width: 100%;
        line-height: 5rem;
    }
}
